{% extends 'base.html.twig' %}

{% block body %}

<div class="col-8 offset-2 text-center mt-5 border border-secondary pt-4 pb-4">
<h3> Recapitulatif de votre commande</h3>

        <strong>Date de visite :</strong> {{ booking.visitDate | date('d/m/Y') }}<br/>
        <strong>Type de visite :</strong>
            {% if booking.visitType is constant('TYPE_DAY', booking ) %}
                Journée complète <br/>
            {% endif %}
            {% if booking.visitType is constant('TYPE_HALF_DAY', booking) %}
                Demi-journée <br/>
            {% endif %}

            {% for ticket in booking.tickets %}
                <strong>Ticket n° {{ loop.index }} :</strong> {{ ticket.lastName }} {{ ticket.firstName }} - {{ ticket.price }} euros <br/>
            {% endfor %}

        <strong>Prix total :</strong> {{ booking.totalPrice }} euros <br/>
        <strong>Votre adresse mail :</strong> {{ booking.email }} <br/>

        <form action="" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_Ww2Gco5S1XyEYBOc9D1WpzVz00ck9Py7yF"
                        data-amount="{{booking.totalPrice * 100}}"
                        data-name="Musée du Louvre"
                        data-description="Billet d'entrée"
                        data-image="/"
                        data-currency="eur"
                        data-allow-remember-me="false"
                        data-locale="auto">
                </script>
        </form>
</div>
{% endblock %}

{% block title %}

{% endblock %}

