<p>Madame, monsieur, </p>

<p> Votre commande n° {{ booking.orderCode }} a été confirmé. Ci-dessous un récapitulatif : <br/>

<ul>
        <li>Prix total : {{ booking.totalPrice }} euros </li>
        <li> Date de la commande : {{ booking.orderDate | date('d/m/Y')}}</li>
        <li> Date de la visite : {{ booking.visitDate | date('d/m/Y')}}</li>
</ul>
</p>

<p>Ci-dessous, un résumé de vos tickets</p>

{% for ticket in booking.tickets %}

<ul>
        <li> Ticket n° {{ loop.index }} </li>
        <li>Nom prénom : {{ ticket.lastName }} {{ ticket.firstName }}</li>
        <li>Date de naissance : {{ ticket.birthDate | date('d/m/Y') }}</li>
        <li>Prix total :  {{ ticket.price }} euros</li>
        <li> Pays : {{ ticket.country }}</li>
        <li> Achat ticket réduction : {{ ticket.reduction? "Oui":"Non" }}</li>
</ul>

        <p> Attention ! Veuillez imprimer ce billet afin de le présenter au guichet. Si vous aviez choisi le tarif
        réduction, un justificatif vous sera demandé.</p>
    <p> Vous souhaitant bonne réception par avance. A très bientôt dans le musée du Louvre.</p>
{% endfor %}

<img src="{{ imgLink }}"><br/>

